<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALLMUSIC - {{.composer.Name}}</title>
    <link rel="stylesheet" href="/static/styles/composer_style.css">
</head>
<body>

    <header class="main-header">
        <div class="header-content">
            <h1 class="logo">
                <a href="/composers">ALLMUSIC</a>
            </h1>
        </div>
    </header>

    <main class="composer-content">
        <div class="composer-container">
            <h1 class="composer-title">{{.composer.Name}}</h1>
            
            <div class="composer-image">
                <img src="{{.composer.PortraitURL}}" alt="{{.composer.Name}}">
            </div>

            <div class="interval-stats">
                <h2>Статистика интервалов</h2>
                <table class="interval-table">
                    <thead>
                        <tr>
                            <th>Интервал</th>
                            <th>Частотность (%)</th>
                            <th>Стандартное отклонение</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .composer.IntervalStats}}
                        <tr>
                            <td>{{.IntervalGroup}}</td>
                            <td>{{printf "%.1f" .Frequency}}</td>
                            <td>{{printf "%.1f" .StdDev}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

            <div class="info-sections-container">
                <div class="info-section">
                    <h3>Основная информация</h3>
                    <div class="info-item">
                        <span class="info-label">Период творчества:</span>
                        <span class="info-value">{{.composer.Period}}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Проанализировано произведений:</span>
                        <span class="info-value">{{.composer.AnalyzedWorks}}</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Цена анализа:</span>
                        <span class="info-value">{{.composer.AnalysisCost}}р</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Общее количество интервалов:</span>
                        <span class="info-value">{{.composer.TotalIntervals}}</span>
                    </div>

                    <div class="info-item">
                        <span class="info-label">Тип полифонии:</span>
                        <span class="info-value">{{.composer.PolyphonyType}}</span>
                    </div>
                </div>

                <div class="info-section">
                    <h3>Биография</h3>
                    <div class="info-item">
                        <span class="bio-label"> {{.composer.Biography}}</span>
                    </div>
                    
                </div>
            </div>

        </div>
    </main>
</body>
</html>